@import "variables";

.board {

    &__add-button,
    &__delete-button {
        box-shadow: $shadow-narrow;
        border: none;
        border-radius: $border-radius;
        padding: 5px 10px;
        align-self: flex-end;
        font-weight: 600;

        svg {
            margin-bottom: 4px;
        }
    }
}

.board__task-edit,
.board__task-delete {
    padding: 0 3px;
    font-size: 14px;
    line-height: 1;
    background-color: white !important;
    height: 25px;

    svg {
        width: 18px;
        height: 18px;
        padding-bottom: 1px;
    }
}

.board__task-edit {
    color: $btn-edit;
    border: 1px solid $btn-edit;

    &:hover,
    &:focus {
        color: $btn-edit-hover;
        border-color: $btn-edit-hover;
    }
}

.board__task-delete {
    color: $btn-delete;

    &:hover,
    &:focus {
        color: $btn-delete-hover;
    }
}

.board__task-actions {
    .btn-group {
        .btn {
            padding: 0 8px;
            font-size: 12px;
            line-height: 1.5;
            height: 25px;
        }

        .btn-warning {
            background-color: #ffffff;
            border-color: $btn-move;
            color: $btn-move;
            font-weight: 600;

            &:hover,
            &:focus {
                color: $btn-move-hover;
                border-color: $btn-move-hover;
            }
        }
    }
}

.btn-primary,
.btn-secondary {
    box-shadow: $shadow-narrow;
}

.dropdown-toggle-split {
    padding: 0 5px !important;
}

.dropdown-menu {
    overflow: hidden;
    padding: 0;
    border-radius: $border-radius;

    .dropdown-item {

        &:hover,
        &:focus,
        &:active {
            background-color: $secondary;
            color: inherit;
        }
    }
}