@import "variables";

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: $shadow-wide;
    border-radius: $border-radius;
    margin: 10px 0 30px;
    padding: 20px;
    background-color: $bg-header;

    &__time-wrapper {
        box-shadow: $shadow-wide;
        border-radius: $border-radius;
        padding: 10px 20px;
        background-color: white;
    }
}